{% extends 'Test1Bundle::base-layout.html.twig' %}

{% block page_title %} Rabbit Producer Test 1 {% endblock %}

{% block page_content %}

    <button onClick="location.href='{{ path('rabbit_producer_test_1_produce') }}'" type="button" class="btn btn-block btn-primary">Produce test</button>
    {# <a href="{{ path('rabbit_producer_test_1_produce') }}" lass="btn btn-block btn-primary" role="button">Produce test</a> #}

{% endblock %}
